<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.website.appname" 
        versionCode = "1" 
        version     = "1.0.0">
    <!-- 'Id' is your app's unique namespace -->
    <!-- 'versionCode' is optional and Android only -->

    <name>YT Audio</name>

    <description>
        App that plays youtube video while device is turned off
    </description>

    <author href="http://www.website.com" email="email@email.com">
       Peter Doyle
    </author>

    <!-- The platforms to build for. Only build what you want to target! -->
    <gap:platform name="ios" /> 
	
	<!-- Build preferences for each platform. Too many to list here, see online PhoneGap docs for more. -->
	<preference name='phonegap-version' value='cli-6.5.0' /> <!-- Version of PhoneGap to use -->
	<!-- How long to display a splash screen on app open (in milliseconds) -->
	<preference name="splash-screen-duration" value="3000" /> <!-- optional -->
	
	<!-- Icons for iOS 7.0+, Android, Windows Phone -->
	<icon src="www/icon.png" />  <!-- Icon in the root directory is always required, all others optional -->
	 
	<!--Splash Screens  -->
	<gap:splash src="www/splash.png" />
	 
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	<allow-navigation href="https://*youtube.com/*"/>
	
	<!-- Permissions required. See online PhoneGap docs for more. -->
	<feature name="http://api.phonegap.com/1.0/network"/> <!-- Enable internet access permission -->
	
	<plugin name="cordova-plugin-background-mode" source="npm" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	
	<gap:plugin name="cordova-plugin-network-information" source="npm"/>  <!-- For checking Internet connectivity -->

	<!-- Required to access external resources, like APIs and webpages. Wildcard (*) allows access to everything. -->
	<access origin="*"/>
</widget>